tap "ankitpokhrel/jira-cli"
tap "derailed/popeye"
tap "fairwindsops/tap"
tap "fluxcd/tap"
tap "hidetatz/tap"
tap "homebrew/cask-fonts"
tap "k8sgpt-ai/k8sgpt"
tap "kudobuilder/tap"

brew "ankitpokhrel/jira-cli/jira-cli"
brew "derailed/popeye/popeye"
brew "exercism"
brew "fairwindsops/tap/polaris"
brew "fluxcd/tap/flux"
brew "hidetatz/tap/kubecolor"
brew "k3d"
brew "k8sgpt-ai/k8sgpt/k8sgpt"
brew "kube-linter"
brew "kube-score"
brew "kubeaudit"
brew "kubeconform"
brew "kubernetes-cli"
brew "kubeseal"
brew "kubespy"
brew "kuttl-cli"
brew "mas"

cask "bartender"
cask "bunch"
cask "dash"
cask "devonagent"
cask "devonthink"
cask "element"
cask "elgato-camera-hub"
cask "elgato-control-center"
cask "elgato-stream-deck"
cask "elgato-wave-link"
cask "font-dejavu"
cask "font-dejavu-sans-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "google-chrome"
cask "hazel"
cask "hookmark"
cask "istat-menus"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "kitty"
cask "meld"
cask "obsidian"
cask "omnifocus"
cask "raycast"
cask "screenflow"
cask "secretive"
cask "timing"

mas "MindNode", id: 1289197285
mas "Moom", id: 419330170
mas "OmniOutliner 5", id: 1142578772
mas "SnippetsLab", id: 1006087419
mas "TextSniper", id: 1528890965
mas "Vimari", id: 1480933944
mas "Wipr", id: 1320666476
