tap "fluxcd/tap"
tap "hidetatz/tap"
tap "homebrew/cask-fonts"

brew "exercism"
brew "fluxcd/tap/flux"
brew "helm"
brew "hidetatz/tap/kubecolor"
brew "k3d"
brew "kubernetes-cli"
brew "mas"
brew "zellij"

cask "bartender"
cask "discord"
cask "font-dejavu"
cask "font-dejavu-sans-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "karabiner-elements"
cask "kitty"
cask "raindropio"
cask "raycast"
cask "screenflow"
cask "secretive"
cask "thingsmacsandboxhelper"

mas "Bear", id: 1091189122
mas "Day One", id: 1055511498
mas "Ivory for Mastodon by Tapbots", id: 6444602274
mas "GoodLinks", id: 1474335294
mas "Keep It", id: 1272768911
mas "Moom", id: 419330170
mas "Save to Raindrop.io", id: 1549370672
mas "Screens 4", id: 1224268771
mas "SnippetsLab", id: 1006087419
mas "Things 3", id: 904280696
mas "Wipr", id: 1320666476
mas "Wireguard", id: 1451685025
