tap "hidetatz/tap"
tap "homebrew/cask-fonts"

brew "exercism"
brew "hidetatz/tap/kubecolor"
brew "k3d"
brew "mas"

cask "bartender"
cask "dash"
cask "font-dejavu"
cask "font-dejavu-sans-mono-nerd-font"
cask "font-symbols-only-nerd-font"
cask "karabiner-elements"
cask "kitty"
cask "raycast"
cask "screenflow"
cask "secretive"
cask "thingsmacsandboxhelper"

mas "Moom", id: 419330170
mas "Things 3", id: 904280696
mas "Wipr", id: 1320666476
