keybinds clear-defaults=true {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
    }
    renametab {
        bind "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }
    session {         
        bind "Ctrl o" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
    }
    tmux {
    
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "a" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "d" { Detach; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind ";" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "'" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "]" { NextSwapLayout; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; }
        bind "s" { SwitchToMode "Session"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Space" { EditScrollback; }
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }
}

    shared_except "tmux" "locked" {
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    compact-bar { path "compact-bar"; }
}

simplified_ui true
default_cwd "$HOME"

themes {
    cobalt2 {
        fg "#fefefe"
        bg "#193549"
        red "#ff2600"
        green "#f0f0f0"
        yellow "#ffc600"
        blue "#1478db"
        magenta "#ff2c70"
        orange "#ff0000"
        cyan "#ff2600"
        black "#1f4461"
        white "#ffffff"
    }
}

ui {
    pane_frames {
        hide_session_name true
    }
}
theme "cobalt2"
pane_frames false
default_layout "compact"
mouse_mode false
scroll_buffer_size 20000
scrollback_editor "helix"
