[Unit]
Description=Clipman

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste -t text --watch clipman store --no-persist --histpath="$HOME/.cache/clipman.json
Restart=on-failure
RestartSec=60

[Install]
WantedBy=sway-session.target

